.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.bg-red {
    background-color: red;
}

html,
body {
    margin: 0;
    padding: 0;
}

img {
    width: 100vw;
}

article {
    width: 100vw;
    position: absolute;
}

.topic {
    background-color: khaki;
    width: 66.66%;
    margin: 0 0 0 16.66%;
}

.back-picture {
    height: 100px;
    background-color: lightpink;
    position: fixed;
    top: 0;
    z-index: 100;
}

.blank {
    background-color: purple;
    width: 100vm;
    height: 500px;
}

.welcome-image {
    background-color: brown;
    width: 100vw;
    height: 100vh;
}