body {
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 2000px;
}

h1 {
    font-weight: normal;
}

em {
    color: #e07a05;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.bluebox {
    background-color: blue;
    position: fixed;
    top: 60px;
    z-index: 1;
}

.greenbox {
    background-color: greenyellow;
    position: relative;
    margin: 20px;
    top: 50px;
    z-index: 3;
    transform: rotate(10deg);
}

.container{
    background: rgba(0,0,0,0.4);
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: 100px;
    z-index: ;
}