/* To ensure bording and padding is included in all elements*/

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #BAB86C;
}

header {
    position: relative;
    height: 100vh;
    background-color: #BAB86C;
    color: #00205B;
}

.title {
    background-color: inherit;
    height: 6vh;
    position: sticky;
    top: 0;
    margin: 0 0 0 0;
    text-align: center;
    flex-direction: column;
    font-family: sans-serif;
}

.title h1 {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-style: italic;
    text-decoration-line: underline;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #92B6D6;
}

.title p {
    padding: 0;
    margin: 0mm;
    font-size: small;
    text-transform: uppercase;
}

.place-holder-top {
    background-color: inherit;
    height: 46vh;
}

.place-holder-btm {
    background-color: inherit;
    height: 46vh;
}


/* Horizontal navigation to be hidden on mobile and tablet */

nav {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav-button {
    background-color: inherit;
    color: inherit;
    border-style: hidden;
    margin-bottom: 10px;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.nav-item a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    nav {
        background-color: transparent;
        position: fixed;
        top: 0;
        width: 100vw;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    nav.scrolled {
        margin: 1.2rem 0 0 2rem;
    }
    .nav-button {
        margin: 0.75rem 0 0 1rem;
        background-color: inherit;
        color: inherit;
        border-style: hidden;
        margin-bottom: 0px;
    }
    .nav-collapse {
        display: none;
        position: absolute;
        top: 0;
    }
    .nav-show {
        display: block;
        top: 0;
    }
    .nav-list {
        background-color: #BAB86C;
        margin: 0;
        padding: 0;
    }
    .nav-item {
        background-color: inherit;
        margin: 0px 0 0 10px;
        padding: 10px;
        list-style-type: none;
    }
    .nav-item a {
        color: inherit;
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .place-holder-top {
        height: 45vh;
    }
    .place-holder-btm {
        height: 44vh;
    }
    /* Horizontal navigation to be hidden on mobile and tablet */
    nav {
        background-color: inherit;
        position: sticky;
        width: 100vw;
        top: 6vh;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 0 10px 0;
    }
    .nav-button {
        position: absolute;
        visibility: hidden;
    }
    .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .nav-item {
        background-color: inherit;
        text-align: center;
        width: 25%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .nav-item a {
        color: inherit;
        text-decoration: none;
    }
}